.outer{
background:rgba(0, 0, 128, 0.607);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.card-body{
  width:80%;
  height:30px;
  border:1px solid black;
  border-radius: 20px;
  padding:10px;
  margin:10px;
  background-color: white;
}
.card{
  display:flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-transform:capitalize;
  color:black;
}
input{
  border-radius: 20px;
  width:20%;
  height:30px;
  background:whitesmoke;
}
